[Unit]
Description=Kernel crash dump capture sequence
Wants=network-online.target

[Service]
Type=oneshot
StandardOutput=syslog+console
EnvironmentFile=/etc/default/kdump-tools
ExecStart=/etc/start/kdump-tools start
ExecStop=/etc/start/kdump-tools stop
RemainAfterExit=yes

[Install]
WantedBy=default.target
