#!/usr/bin/make -f

include /usr/share/dpatch/dpatch.make

build: patch
	dh_testdir
	$(MAKE)

clean: clean1 unpatch
clean1:
	dh_testdir
	dh_testroot
	-$(MAKE) clean
	dh_clean

install:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) install DESTDIR=$(CURDIR)/debian/makedumpfile
	install -D -m755 debian/initramfs-hook \
		debian/makedumpfile/usr/share/initramfs-tools/hooks/makedumpfile

binary-indep:

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs README
	dh_install
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
